pipeline/Incremental_Update_for_Customer.json
{
	"name": "Incremental_Pipeline_for_SalesOrderDetail",
	"properties": {
		"activities": [
			{
				"name": "Get highwatermark file timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "adls_csv_Filepath_No_Header_DS",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "HighWaterMark.txt"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get last modified date from db",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get highwatermark file timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(ModifiedDate) AS LastModifiedDate FROM [SalesLT].[Customer]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Generic_sqldb_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Customer"
						}
					}
				}
			},
			{
				"name": "Copy only updated records",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get last modified date from db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from saleslt.Customer where ModifiedDate > ''', formatDateTime(activity('Get highwatermark file timestamp').output.firstRow.Prop_0, 'yyyy-MM-dd HH:mm:ss'), ''' and ModifiedDate <= ''', activity('Get last modified date from db').output.firstRow.LastModifiedDate, '''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_sqldb_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Customer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_csv_DS",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "Incremental_Update/Customer"
						}
					}
				]
			},
			{
				"name": "Updating HighWaterMark file with timestamp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy only updated records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(ModifiedDate) AS LastModifiedDate FROM [SalesLT].[Customer]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_sqldb_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Customer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_csv_Filepath_No_Header_DS",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "HighWaterMark.txt"
						}
					}
				]
			}
		],
		"annotations": []
	}
}