pipeline/Variable_Data_and_New_Column_Update.json
{
	"name": "Variable_Data_and_New_Column_Update",
	"properties": {
		"activities": [
			{
				"name": "Set start Time in variable 1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "startTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy raw data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start Time in variable 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_sqldb_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_csv_DS",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "Variable_Update"
						}
					}
				]
			},
			{
				"name": "Set end Time in variable 2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy raw data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "endTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy record with timestamp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set end Time in variable 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "startTimestamp",
								"value": {
									"value": "@variables('startTime')",
									"type": "Expression"
								}
							},
							{
								"name": "endTimestamp",
								"value": {
									"value": "@variables('endTime')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_sqldb_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_csv_DS",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "Variable_Update"
						}
					}
				]
			}
		],
		"variables": {
			"startTime": {
				"type": "String"
			},
			"endTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}